@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="centralizar">

    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <br />
    <hr />

    <h2 class="titulo2">Um mundo em transformação pede uma educação transformadora</h2>
    <br />
    <br />
    <p>Queremos lhe desejar boa sorte e boas-vindas, que você obtenha muito sucesso nessa nova fase de sua vida. Conte conosco para tudo o que precisar! É com muita alegria e de braços abertos que hoje recebemos você! Esperamos que esta se torne na sua casa por muitos anos.
</p>
<div>

<div id="imagem-escola"></div>
</div>
    </div>

</div>
